<h1>ジャンル一覧・追加</h1>

<% if @genre.errors.any? %>
  <%= @genre.errors.count %>件のエラーが発生しました
  <% @genre.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<p>ジャンル名</p>
<%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
<%= f.text_field :name %>
<%= f.submit '新規作成' %>
<% end %>
<h1>ジャンル</h1>
<% @genres.each do |genre| %>
<%= genre.name %>
<p><%= link_to "編集する", edit_admin_genre_path(genre) %></p>
<p><%= link_to "削除する", admin_genre_path(genre), method: :delete %></p>
<% end %>